.blogClosed {
    width: 80%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
}

.blogCoverImg {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    /* border-bottom-left-radius: 8px; */
    float: left;
    margin-right: 20px;
    margin-left: -220px;
}

.contentOverflow {
    color: #ffffff
}

h5.blogBoxTitle {
    text-align: center;
    color: grey;
}

.moreContainer {
    background-color: #f0f8ff;
    width: 100%;
    color: #50b6e6;
    height: 40px;
    margin-top: 260px;
    margin-bottom: -300px;
    position: relative;
    z-index: 10;
}

div.more {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.generated {
    z-index: 1;
}

.created {
    position: absolute;
    color: #c7c7c7;
    margin-top: 270px;
    z-index: 11;
}

.gradient {
    background: #f0f8ff;
    background: linear-gradient(0deg, #f0f8ff 0%, #f0f8ff00 100%);
    width: 100%;
    height: 260px;
    z-index: 2;
    margin-bottom: -260px;
    position: relative;
}

@media screen and (max-width: 999px) {
    .blogCoverImg {
        visibility: hidden;
    }

    .blogClosed {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    div.more {
        text-align: right;
    }
}