.semaphore {
    width: 100%;
    height: 70px;
    background-color: #097409;
}

#book {
    display: auto;
}

.sidenav-trigger {
    cursor: pointer;
}

.teal { z-index: 10; }

.navmin { z-index: 11; }

img.logo {
    max-height: 90px;
    height: auto;
    margin-top: -20px;
}

@media screen and (max-width: 999px) {/*and (min-width: 64){*/
    img.logo {
        max-height: 85px;
    }
}