.centaur {
  margin-left: 50%;
}

.intermodal {
  width: 1000px;
  margin-left: -500px;
  overflow: auto;
  padding-bottom: 100px;
}

.autoCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.internalHTML {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#blogBackground {
  background-color: aliceblue;
}

@media screen and (max-width: 999px) {/*and (min-width: 64){*/
  .intermodal {
      width: 100%;
      margin-left: 0px;
  }
  .centaur {
    margin-left: 0%;
  }
  .internalHTML {
      width: 350px;
  }
}