.centaur {
  margin-left: 50%;
}

.intermodal {
  width: 1000px;
  margin-left: -500px;
  overflow: auto;
  padding-bottom: 100px;
}

@media screen and (max-width: 999px) {/*and (min-width: 64){*/
  .intermodal {
      width: 100%;
      margin-left: 0px;
  }
  .centaur {
    margin-left: 0%;
  }
}