input:focus {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
}

textarea:focus {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
}

label.active {
    color: green !important;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.logBlock {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 530px;
    width: 600px;
}

.login {
    height: 100%;
    border-right: 3px solid #646464;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.loginClosedDT {
    width: 100px;
}

.loginOpenDT {
    width: 500px;
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
}

.register {
    width: 550px;
    height: 100%;
    background-color: #ffffff;
    border-right: 3px solid #646464;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;
    padding: 10px;
}

.logMobile {
    display: none;
    margin: 10px;
    height: 120px;
    background-color: #969696;
    border-radius: 6px;
}

#signinDrawer {
    margin-top: 20px;
    display: none;
    float: none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

#loginDrawer {
    border-top: 2px solid #646464;
    display: none;
    float: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.closed0, .closed1 {
    overflow: hidden;
    height: 75px;
}

.open0 {
    overflow: auto;
    height: 440px;/* #blazeit */
}

.open1 {
    overflow: auto;
    height: 290px;
}

.drawer {
    transition: .3s;
    padding: 0px 20px 10px 20px;
    background-color: #e9e9e9;
    z-index: 10;
}

button.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 999px) {/*and (min-width: 64){*/
    .logBlock {
        display: none;
    }

    .logMobile, #signinDrawer, #loginDrawer {
        display: block;
    }
}